{{define "title"}}
anfelos | Home
{{end}}

{{define "content"}}
<div id="background"></div>

<main class="container">
    <section class="hero mb-l">
        <div class="text-centered mb-l">
            <h2>Andres Osorio</h2>

            <div id="profile-pic-space"></div>
        </div>
        <p>
          Hi, I'm an electronics engineer that got in love with software
          development. I still love to tinker around with hardware, but I don't
          do it as often as I would love to. I love silent mornings with coffee
          and the sound of my keyboard.
        </p>
        <p>
          I love to nerd 🤓 about coffee, read books and travel around the world
          🌎.
        </p>
        <p>I'm from Bogota, Colombia but currently living in Hamburg.</p>
        <p>If you are curious to see more of my work/experimentations check out my <a href="https://github.com/anfelo" target="_blank">Github</a> profile</p>
    </section>

    <section class="hero">
        <h2>Projects</h2>
        <a href="https://chilimycoffee.com" target="_blank">
            <hgroup>
                <div class="flex flex-center">
                    <img src="/static/img/cc-logo.png" alt="chilimycoffee logo" width="32px" class="mr-s">
                    <h5 class="m-0">chilimycoffee</h5>
                </div>
                <p>
                    This is one of my side projects. I'm creating some guides/tutorials
                    on how to build different types of things from scratch.
                </p>
            </hgroup>
        </a>
    </section>

    <section class="hero">
        <h2>Other Stuff</h2>
        <a href="https://webgl-pi-sandy.vercel.app" target="_blank">
            <hgroup>
                <h5>WebGL Playground</h5>
                <p>
                    A WebGL playground where I experiment with the API and learn
                    about graphics programming.
                </p>
            </hgroup>
        </a>
        <a href="https://threejs-playground-beta.vercel.app/" target="_blank">
            <hgroup>
                <h5>Threejs Playground</h5>
                <p>
                    A Threejs playground where I expand on some 3D graphics topics
                    in the web. This is a continuation of my WebGL playground.
                </p>
            </hgroup>
        </a>
        <a href="https://p5js-playground-seven.vercel.app/walker" target="_blank">
            <hgroup>
                <h5>p5js Playground</h5>
                <p>
                    A p5js playground play around with the libray and create some 
                    interesting simulations and explore my curiosity.
                </p>
            </hgroup>
        </a>
    </section>
</main>
{{end}}
