{{define "title"}}
anfelos | Home
{{end}}

{{define "content"}}
<main class="container">
    <section class="hero mb-l">
        <div class="text-centered mb-l">
            <h2>Andres Osorio</h2>
            <figure>
                <img
                    src="/static/img/me.jpg"
                    alt="Anfelo's profile pic"
                    width="200px"
                />
            </figure>
        </div>
        <p>
          Hi, I'm an electronics engineer that got in love with software
          development. I still love to tinker around with hardware, but I don't
          do it as often as I would love to. I love silent mornings with coffee
          and the sound of my keyboard.
        </p>
        <p>
          I love to nerd 🤓 about coffee, read books and travel around the world
          🌎.
        </p>
        <p>I'm from Bogota, Colombia but currently living in Hamburg.</p>
        <p>If you are curious to see more of my work/experimentations check out my <a href="https://github.com/anfelo" target="_blank">Github</a> profile</p>
    </section>

    <section class="hero">
        <h2>Projects</h2>
        <a href="https://chilimycoffee.com" target="_blank">
            <hgroup>
                <div class="flex flex-center">
                    <img src="/static/img/cc-logo.png" alt="chilimycoffee logo" width="32px" class="mr-s">
                    <h5 class="m-0">chilimycoffee</h5>
                </div>
                <p>
                    This is one of my side projects. I'm creating some guides/tutorials
                    on how to build different types of things from scratch.
                </p>
            </hgroup>
        </a>
    </section>

    <section class="hero">
        <h2>Blog</h2>
        <a href="/blog/programming-beyond-frontend-web">
            <hgroup>
                <h5>Programing Beyond Frontend Web</h5>
                <p>October 10, 2024</p>
            </hgroup>
        </a>
    </section>

    <section class="hero">
        <h2>Other Stuff</h2>
        <a href="https://webgl-pi-sandy.vercel.app" target="_blank">
            <hgroup>
                <h5>WebGL Playground</h5>
                <p>
                    A WebGL playground where I experiment with the API and learn
                    about graphics programming.
                </p>
            </hgroup>
        </a>
    </section>
</main>
{{end}}
